<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>텍스트 파일 전송</title>
</head>
<body>
<form th:action="@{/complie/java}" method="post">
  <input type="hidden" name="username" th:value="youngju">
  <input type="hidden" name="parameterString" th:value="args">
  <input type="hidden" name="javaBodyString" th:value="test">
  <div>
    <label for="text">텍스트:</label>
    <textarea id="text" name="javaFullCompile" rows="10" cols="50">여기에 텍스트를 입력하세요...</textarea>
  </div>
  <div>
    <button type="submit">전송</button>
  </div>
</form>
</body>
</html>
